.Main {
    height: 100vh;

}



.barAlunos {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em;

}

.barAlunos div {
    width: 350px;
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
}

.barAlunos div button {
    height: 30px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(243, 243, 243);
    transition: .4s;
}

.barAlunos div button:hover {
    background-color: #80d798;
    color: black;
}

.barAlunos div button a {
    text-decoration: none;
    color: black;
}

.barAlunos input {
    background-color: rgb(243, 243, 243);
    width: 170px;
    height: 30px;
    border-radius: 20px;
    margin-right: 25px;
    padding-right: 35px;
    padding-left: 1em;
}

.barAlunos input:focus {
    outline: none;
    border: 1px solid #aaa;
}

.barAlunos div svg {
    position: absolute;
    font-size: 23px;
    cursor: pointer;
    right: 11.5%;
    top: 24.1%;
    color: #aaa;
}

.barAlunos div svg:hover {
    color: #707070;
}


.Main hr {
    margin: auto;
    border-bottom: 1px solid #ddd;
    width: 95%;
}

.cardsAlunos {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.deleteCard {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    top: 35%;
    left: 40%;
    z-index: 2;
}

.closeDeleteDiv{
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
    background-color: transparent;
}

.closeDeleteDiv svg{
    color: black;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: .4s;
}

.closeDeleteDiv svg:hover{
    color: red;
}

.ButtonsDeleteDiv{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonsDeleteDiv button{
    width: 60px;
    height: 25px;
    border-radius: 5px;
    margin: 0 5px;
    font-weight: bold;
}

.deleteBtnAluno{
    background-color: #80d798;
    cursor: pointer;
    transition: .4s;
}

.deleteBtnAluno:hover{
    background-color: #90edab;
}

.CanceldeleteBtnAluno{
    background-color: #bd1e0c;
    cursor: pointer;
    transition: .4s;
    color: #FFF;
}

.CanceldeleteBtnAluno:hover{
    background-color: #e12d19;;
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.203);
    opacity: 0.9;
    z-index: 1;

}


@media (max-width:1440px){
    .barAlunos div svg {
        font-size: 23px;
        right: 15%;
        top: 17.3%;
    }
}

@media (max-width:1024px){
    .barAlunos div svg {
        font-size: 23px;
        right: 21.5%;
        top: 19.9%;
    }
}

@media (max-width:768px){
    .barAlunos div svg {
        font-size: 23px;
        right: 28.5%;
        top: 26.5%;
    }
}

@media (max-width:425px){
    
.barAlunos {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5em;

}

.barAlunos h1{
    font-size: 1.5em;
}

.barAlunos div {
    width: 180px;
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
}

.barAlunos div button {
    height: 35px;
    width: 450px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(243, 243, 243);
    transition: .4s;
    font-size: 12px;
    text-align: center;
}


.barAlunos input {
    background-color: rgb(243, 243, 243);
    width: 100px;
    height: 20px;
    border-radius: 20px;
    margin-right: 25px;
    padding-right: 35px;
    padding-left: 1em;
}

.barAlunos div svg {
    position: absolute;
    font-size: 16px;
    cursor: pointer;
    right: 29.5%;
    top: 25.1%;
    color: #aaa;
}

.cardsAlunos {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.deleteCard {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 300px;
    top: 35%;
    left: 16%;
    z-index: 2;
}

.closeDeleteDiv{
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
    background-color: transparent;
}

.closeDeleteDiv svg{
    color: black;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: .4s;
}

.closeDeleteDiv svg:hover{
    color: red;
}

.ButtonsDeleteDiv{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonsDeleteDiv button{
    width: 60px;
    height: 25px;
    border-radius: 5px;
    margin: 0 5px;
    font-weight: bold;
}

.deleteBtnAluno{
    background-color: #80d798;
    cursor: pointer;
    transition: .4s;
}

.deleteBtnAluno:hover{
    background-color: #90edab;
}

.CanceldeleteBtnAluno{
    background-color: #bd1e0c;
    cursor: pointer;
    transition: .4s;
    color: #FFF;
}

.CanceldeleteBtnAluno:hover{
    background-color: #e12d19;;
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.203);
    opacity: 0.9;
    z-index: 1;

}

}



@media (max-width:375px){
    
    .barAlunos {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.5em;
    
    }
    
    .barAlunos h1{
        font-size: 1.5em;
    }
    
    .barAlunos div {
        width: 180px;
        display: flex;
        height: 48px;
        justify-content: space-between;
        align-items: center;
    }
    
    .barAlunos div button {
        height: 35px;
        width: 450px;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        background-color: rgb(243, 243, 243);
        transition: .4s;
        font-size: 12px;
        text-align: center;
    }
    
    
    .barAlunos input {
        background-color: rgb(243, 243, 243);
        width: 100px;
        height: 20px;
        border-radius: 20px;
        margin-right: 25px;
        padding-right: 35px;
        padding-left: 1em;
    }
    
    .barAlunos div svg {
        position: absolute;
        font-size: 16px;
        cursor: pointer;
        right: 33%;
        top: 25.2%;
        color: #aaa;
    }
    
    .cardsAlunos {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .deleteCard {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        max-width: 300px;
        top: 35%;
        left: 8%;
        z-index: 2;
    }
    
    .closeDeleteDiv{
        display: flex;
        justify-content: end;
        margin-bottom: 5px;
        background-color: transparent;
    }
    
    .closeDeleteDiv svg{
        color: black;
        font-size: 20px;
        background-color: transparent;
        cursor: pointer;
        transition: .4s;
    }
    
    .closeDeleteDiv svg:hover{
        color: red;
    }
    
    .ButtonsDeleteDiv{
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ButtonsDeleteDiv button{
        width: 60px;
        height: 25px;
        border-radius: 5px;
        margin: 0 5px;
        font-weight: bold;
    }
    
    .deleteBtnAluno{
        background-color: #80d798;
        cursor: pointer;
        transition: .4s;
    }
    
    .deleteBtnAluno:hover{
        background-color: #90edab;
    }
    
    .CanceldeleteBtnAluno{
        background-color: #bd1e0c;
        cursor: pointer;
        transition: .4s;
        color: #FFF;
    }
    
    .CanceldeleteBtnAluno:hover{
        background-color: #e12d19;;
    }
    
    .overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.203);
        opacity: 0.9;
        z-index: 1;
    
    }
    
    }


    @media (max-width:320px){
    
        .barAlunos {
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.7em;
        
        }
        
        .barAlunos h1{
            font-size: 1.5em;
            margin-right: 3px;
        }
        
        .barAlunos div {
            width: 180px;
            display: flex;
            height: 48px;
            justify-content: space-between;
            align-items: center;
        }
        
        .barAlunos div button {
            height: 35px;
            width: 100px;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            background-color: rgb(243, 243, 243);
            transition: .4s;
            font-size: 12px;
            text-align: center;
        }
        
        
        .barAlunos input {
            background-color: rgb(243, 243, 243);
            width: 80px;
            height: 20px;
            border-radius: 20px;
            margin-right: 15px;
            padding-right: 35px;
            padding-left: 1em;
        }
        
        .barAlunos div svg {
            position: absolute;
            font-size: 16px;
            cursor: pointer;
            right: 38%;
            top: 25.2%;
            color: #aaa;
        }
        
        .cardsAlunos {
            display: flex;
            justify-items: center;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
        }
        
        .deleteCard {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            max-width: 280px;
            top: 35%;
            left: 7%;
            z-index: 2;
        }
        
        .closeDeleteDiv{
            display: flex;
            justify-content: end;
            margin-bottom: 5px;
            background-color: transparent;
        }
        
        .closeDeleteDiv svg{
            color: black;
            font-size: 20px;
            background-color: transparent;
            cursor: pointer;
            transition: .4s;
        }
        
        .closeDeleteDiv svg:hover{
            color: red;
        }
        
        .ButtonsDeleteDiv{
            margin-top: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .ButtonsDeleteDiv button{
            width: 60px;
            height: 25px;
            border-radius: 5px;
            margin: 0 5px;
            font-weight: bold;
        }
        
        .deleteBtnAluno{
            background-color: #80d798;
            cursor: pointer;
            transition: .4s;
        }
        
        .deleteBtnAluno:hover{
            background-color: #90edab;
        }
        
        .CanceldeleteBtnAluno{
            background-color: #bd1e0c;
            cursor: pointer;
            transition: .4s;
            color: #FFF;
        }
        
        .CanceldeleteBtnAluno:hover{
            background-color: #e12d19;;
        }
        
        .overlay{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.203);
            opacity: 0.9;
            z-index: 1;
        
        }
        
        }