
  .loading_circle {
    border: 4px solid #000000;
    border-top: 4px solid transparent;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-bottom: 40px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }