
  .loading_circle {
    border: 4px solid #000000;
    border-top: 4px solid transparent;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-bottom: 40px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media (min-width:2560px){
    
  .loading_circle {
    border: 4px solid #000000;
    border-top: 4px solid transparent;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 95px;
  }
  }

  @media (max-width:425px){
    
    .loading_circle {
      border: 4px solid #000000;
      border-top: 4px solid transparent;
      border-radius: 100%;
      width: 20px;
      height: 20px;
     margin-bottom: 22px;
      animation: spin 1s linear infinite;

    }
    }