.NavBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    
}

.aboveBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #80d798;
}

.aboveBar img {
    margin: auto;
}

.imageUser {
    position: absolute;
    right: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #e0dfdf;
    cursor: pointer;
    z-index: 1;

}


.imageUser img{
    border-radius: 100%;
}


.modalUser {
    position: absolute;
    top: 8.5%;
    right: 50px;
    width: 8%;
    height: 10%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

  
  }

  
.modalUser button{
    height: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.modalUser button:hover{
    background-color: #80d798;
}

.modalUser .exit:hover{
    background-color: rgb(186, 0, 12);
    color: white;
}

.RedirectBar {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    width: 100%;
    height: 60px;
    
}

.RedirectBar li {
    margin: 0 10px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.RedirectBar li a{
    text-decoration: none;
    color: black;
    position: relative;
}

.RedirectBar li a::after{
    content: ' ';
    width: 0%;
    height: 3px;
    background-color: #80d798;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.RedirectBar li:hover ::after {
    width: 100%;
}

@media(min-width:320px){
    
    .aboveBar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        background-color: #80d798;
    }
    
    .aboveBar img {
        margin: auto;
        width: 150px;
        height: 30px;
    }
    
    .imageUser {
        position: absolute;
        right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #e0dfdf;
        cursor: pointer;
        z-index: 1;
    
    }
    
    
    .imageUser img{
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
    
    
    .modalUser {
        position: absolute;
        top: 9%;
        right: 20px;
        width: 25%;
        height: 10%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-bottom-left-radius: 15%;
        border-bottom-right-radius: 15%;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
    
      }
    
      
    .modalUser button{
        height: 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 11px;
    }
    
    .RedirectBar {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        background-color: #f3f3f3;
        width: 100%;
        height: 60px;
        z-index: 0;
        font-size: 11px;
        
    }
    
    .RedirectBar li {
        margin: 0 10px;
        cursor: pointer;
        border-bottom: 3px solid transparent;
    }
    
}



@media(min-width:768px){
    
    .aboveBar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        background-color: #80d798;
    }
    
    .aboveBar img {
        margin: auto;
        width: 230px;
        height: 40px;
    }
    
    .imageUser {
        position: absolute;
        right: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: #e0dfdf;
        cursor: pointer;
        z-index: 1;
    
    }
    
    
    .imageUser img{
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
    
    
    .modalUser {
        position: absolute;
        top: 9.5%;
        right: 20px;
        width: 15%;
        height: 10%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-bottom-left-radius: 15%;
        border-bottom-right-radius: 15%;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
    
      }
    
      
    .modalUser button{
        height: 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
    }
    
    .RedirectBar {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        background-color: #f3f3f3;
        width: 100%;
        height: 60px;
        z-index: 0;
        font-size: 14px;
        
    }
    
    .RedirectBar li {
        margin: 0 10px;
        cursor: pointer;
        border-bottom: 3px solid transparent;
    }
    
}

@media (min-width: 1024px){
    .RedirectBar {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        background-color: #f3f3f3;
        width: 100%;
        height: 60px;
        z-index: 0;
        font-size: 16px;
}

.modalUser {
    position: absolute;
    top: 10%;
    right: 20px;
    width: 15%;
    height: 10%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;

  }


}


@media(min-width:1440px){
    .NavBar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 0;
        
    }
    
    .aboveBar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        background-color: #80d798;
    }
    
    .aboveBar img {
        margin: auto;
    }
    
    .imageUser {
        position: absolute;
        right: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: #e0dfdf;
        cursor: pointer;
        z-index: 1;
    
    }
    
    
    .imageUser img{
        border-radius: 100%;
    }
    
    
    .modalUser {
        position: absolute;
        top: 9%;
        right: 50px;
        width: 10%;
        height: 10%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-bottom-left-radius: 15%;
        border-bottom-right-radius: 15%;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
      
      }
    
      
    .modalUser button{
        height: 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px
    }
    
    .modalUser button:hover{
        background-color: #80d798;
    }
    
    .modalUser .exit:hover{
        background-color: rgb(186, 0, 12);
        color: white;
    }
    
    .RedirectBar {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        background-color: #f3f3f3;
        width: 100%;
        height: 60px;
        font-size: 16px
        
    }
    
    .RedirectBar li {
        margin: 0 10px;
        cursor: pointer;
        border-bottom: 3px solid transparent;
    }
    
    .RedirectBar li a{
        text-decoration: none;
        color: black;
        position: relative;
    }
    
    .RedirectBar li a::after{
        content: ' ';
        width: 0%;
        height: 3px;
        background-color: #80d798;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.5s ease-in-out;
    }
    
    .RedirectBar li:hover ::after {
        width: 100%;
    }
    
}


    
@media(min-width:2560px){
    .NavBar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 0;
        
    }
    
    .aboveBar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150%;
        height: 160px;
        background-color: #80d798;
    }
    
    .aboveBar img {
        margin: auto;
        width: 400px;
        height: 65px;
    }
    
    .imageUser {
        position: absolute;
        right: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        border-radius: 100%;
        background-color: #e0dfdf;
        cursor: pointer;
        z-index: 1;
    
    }
    
    
    .imageUser img{
        border-radius: 100%;
        width: 90px;
        height: 90px;
    }
    
    
    .modalUser {
        position: absolute;
        top: 8.4%;
        right: 70px;
        width: 9%;
        height: 10%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-bottom-left-radius: 15%;
        border-bottom-right-radius: 15%;
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
      
      }
    
      
    .modalUser button{
        height: 30px;
        margin-bottom: 15px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 23px
    }
    
    .modalUser button:hover{
        background-color: #80d798;
    }
    
    .modalUser .exit:hover{
        background-color: rgb(186, 0, 12);
        color: white;
    }
    
    .RedirectBar {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        background-color: #f3f3f3;
        width: 100%;
        height: 100px;
        font-size: 30px
        
    }
    
    .RedirectBar li {
        margin: 0 10px;
        cursor: pointer;
        border-bottom: 3px solid transparent;
    }
    
    .RedirectBar li a{
        text-decoration: none;
        color: black;
        position: relative;
    }
    
    .RedirectBar li a::after{
        content: ' ';
        width: 0%;
        height: 5px;
        background-color: #80d798;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.5s ease-in-out;
    }
    
    .RedirectBar li:hover ::after {
        width: 100%;
    }
    
}
