.NavBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboveBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #80d798;
}

.aboveBar img {
    margin: auto;
}

.imageUser {
    position: absolute;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #e0dfdf;
    cursor: pointer;

}

.imageUser img{
    border-radius: 100%;
}


.modalUser {
    position: absolute;
    top: 9%;
    right: 2%;
    width: 8%;
    height: 10%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

  
  }

  
.modalUser button{
    height: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.modalUser button:hover{
    background-color: #80d798;
}

.RedirectBar {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    width: 100%;
    height: 60px;
}

.RedirectBar li {
    margin: 0 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;

}

.RedirectBar li a{
    text-decoration: none;
    color: black;
}

.RedirectBar li:hover {
    border-bottom: 5px solid #80d798;
}

