.main_content{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 242, 242)
}


.Container_Form{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #dff5e5;
  width: 400px;
  height: 800px;
  border-radius: 15px;
  position: relative;
  z-index: 2;
  left: 500px;
  margin-right: 2%;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2);

}

.Container_Form div {
  margin-top: 50px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.Container_Form div img{
  margin-top: 50px;
}
