.main_content {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(242, 242, 242);
  padding-inline-start: 200px
}


.Container_Form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #dff5e5;
  width: 400px;
  height: 650px;
  border-radius: 15px;
  position: relative;
  box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2);
}

.Container_Form div {
  margin-top: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.Container_Form .Copyright {
  height: 100%;
  flex-direction: column;
  justify-content: end;
}

.Container_Form div img {
  margin-top: 50px;

}