
.Main{
    height: 100vh;
}

.Main hr{
    border-bottom: 1px solid #ccc;
    margin: 0 350px
}

.barAlunos{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em;
    
}

.barAlunos a{
    height: 30px;
    width: 65px;
    padding: 0.2em 0;
    text-align: center;
    text-decoration: none;
    transition: .4s;
    color: black;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
}

.barAlunos a:hover{
    background-color: #80d798;
}

.containerInfos{
    display: flex;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    margin: 50px 60px;

}

.containerUserImg{
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.userImage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonsImage{
    margin-top: 10px;
    display: flex;
    width: 170px;
    justify-content: space-evenly;
}

.btnAdd{
    height: 22px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #80d798;
    transition: .4s;
}

.btnAdd:hover{
    background-color: #84e8a1;
    color: #FFF;
}

.btnRemove{
    height: 22px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d32815;
    transition: .4s;
}

.btnRemove:hover{
    background-color: #e64439;
    color: #FFF;
}

.inputsAluno{
    height: 100%;
    width: 1000px;
    margin-top: 5px;
    margin-right: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.localization{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 700px;
    align-items: center;
    margin-left: 360px;
   
}

.nextStep{
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: end;
}

.nextStep a{
    text-decoration: none;
    color: black;
    margin-right: 250px;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    text-align: center;
    padding: 0.2em;
    background-color: #80d798;
    transition: .4s;
}

.nextStep a:hover{
    background-color: #78f69c;
    color: #FFF;
}